<div class="s-a-mod-section menu-tab excite-my-customer" data-menu="excite-my-customer" data-menu-title="How-will-this-excite-my-customer?"> 
    <!-- Data menu title - This is how the section is labelled in the menu tabs. Make sure to use "-" for spaces --> 
    
    <div class="full-width-section excite-my-customer l-3">
        
        <h1 class="section-header desktop-content">How will this excite my customer?sd</h1>
                
         <div class="columns-wrapper training__moduleCol four-v3">
                     
            <div class="training__moduleCol--quarter">
                 
                <h2><span class="blue-text">ONLY SAMSUNG</span> delivers you the utimate cinematic experience - without leaving the sofa!</h2>
                <img src="-/media/668E72EA910C4821B229A2B66F2DF233.ashx"/> <!-- First column desktop image -->
                    
            </div> <!-- Training Module col Quarter -->
            
            <div class="training__moduleCol--quarter">
                
                <h2><span class="blue-text">ONLY SAMSUNG</span> offers a truly seamless 4K experience</h2>
                <img src="-/media/7029D253063641F58EB31B8F90EE255A.ashx"/> <!-- Second column desktop image -->
                        
            </div> <!-- Training Module col Quarter -->
            
            <div class="training__moduleCol--quarter">                

                <h2><span class="blue-text">ONLY SAMSUNG</span> offers Acoustic Beam technology for stunning panoramic sound</h2>
                <img src="-/media/164CA41A83AE45448851616938913825.ashx"/> <!-- Third column desktop image -->    
                    
            </div> <!-- Training Module col Quarter -->
            
            <div class="training__moduleCol--quarter">
                
                <h2><span class="blue-text">ONLY SAMSUNG</span> was the most-awarded AV brand of 2017</h2>                                    
                <img src="-/media/E1A26597E82B475596461C47930D4E9F.ashx"/> <!-- Fourth column desktop image -->
                   
            </div> <!-- Training Module col Quarter -->         
            
        </div> <!-- Columns Wrapper -->
             
    </div> <!-- Full Width -->
    
</div> <!-- S A Mod Section - Excite my customer -->