<div class="s-a-mod-section menu-tab how-does-it-work col-layout" data-menu="how-does-it-work" data-menu-title="How-does-it-work?">
    <!-- Data menu title - This is how the section is labelled in the menu tabs. Make sure to use "-" for spaces --> 
    
    <div class="full-width-section how-does-it-work l-12">
    
        <h1 class="section-header">How does it work?</h1>
        
          <div class="carousel-container">
        
                <div class="buttons">

                    <div class="dots"></div> <!-- Dots -->

                </div> <!-- Buttons -->

                <div class="slide active">
                    
                    <div class="full-width-section l-6">
        
                        <img src="-/media/503480E59A5047F7B57B628EEF4CC69B.ashx" class="full-img bg">

                        <div class="content white-text transparent-bg full-height">
           
                            <div class="copy">
                                <p><strong>Acoustic Beam Technology</strong></p>
                                <p>The purpose of the Acoustic Beam is to work in sync with your on-screen content to create multi-directional soundwaves. Imagine a car moving from left to right - the Acoustic Beam will direct the sound to move across the screen with the car.<br><br>
                                The N650 features two Acoustic Beams, each featuring an array of 28 holes. Sound is pushed from the Acoustic Beam’s tweeter though these holes in different directions to create an incredible cinematic audio experience.</p>
                            </div> <!-- Copy -->

                        </div> <!-- Content -->

                    </div> <!-- Full Width -->

                </div> <!-- Slide -->

                <div class="slide">

                    <div class="full-width-section l-6">
        
                        <img src="-/media/17A938F801154E56BCE8A4A867D12C76.ashx" class="full-img bg">

                        <div class="content white-text transparent-bg full-height">
           
                            <div class="copy">
                                <p><strong>Panoramic Sound</strong></p>
                                <p>Boasting a 5.1 channel set-up, the N650 Soundbar fills every corner of your room with rich, panoramic sound. Left and right speakers deliver powerful, front-firing sound, while conversations are crystal-clear and audible through the centre speaker.<br><br> Two Acoustic Beams project surround sound in sync with your on-screen content - and a wireless sub-woofer ensures you feel the action with booming, accurate bass.</p>
                                
                                <div class="blocks">
                                
                                    <p class="number">5</p>
                                    
                                    <ul class="list">
                                        <li>2x Surround Speakers/Channels<br>(via Acoustic Beam)</li>
                                        <li>1x Left Speaker/Channel</li>
                                        <li>1x Centre Speaker/Channel</li>
                                        <li>1x Right Speaker/Channel</li>
                                    </ul>
                                
                                </div>
                                
                                <div class="blocks">
                                
                                    <p class="number">1</p>
                                    
                                    <ul class="list">
                                        <li>&nbsp;</li>
                                        <li>&nbsp;</li>
                                        <li>1x Sub-woofer Speaker/Channel</li>
                                        <li>&nbsp;</li>
                                        <li>&nbsp;</li>
                                    </ul>
                                
                                </div>
                                
                            </div> <!-- Copy -->

                        </div> <!-- Content -->

                    </div> <!-- Full Width -->

                </div> <!-- Slide -->

                <div class="slide">

                     <div class="full-width-section l-6">
        
                        <img src="-/media/FD4D7F41A646487E9E6A5215EE781A71.ashx" class="full-img bg">

                        <div class="content white-text transparent-bg full-height">
           
                            <div class="copy">
                                <p><strong>Dedicated Game Mode</strong></p>
                                <p>Through HDR gaming, you already have an awesome visual experience - why not give your ears a treat too? The N650 offers a dedicated game mode that automatically optimises sound for a richer, more immersive gaming experience.</p>
                            </div> <!-- Copy -->

                        </div> <!-- Content -->

                    </div> <!-- Full Width -->

                </div> <!-- Slide -->

                <div class="slide">

                     <div class="full-width-section l-6">
        
                        <img src="-/media/F2CE7F0D16C24C1EBF00719362002D2C.ashx" class="full-img bg">

                        <div class="content white-text transparent-bg full-height">
           
                            <div class="copy">
                                <p><strong>Powerful Bass &amp; Wireless Sub-Woofer</strong></p>
                                <p>Cinematic sound demands that you don’t just hear the action, you should be able to feel it too.<br><br>
                                Imagine the starting grid at a race track. How cool would it be to actually feel those engines reverberating as they’re being revved up? What about that thunderous roar as the cars are let off the leash?<br><br>
                                Offering powerful, accurate bass, the N650’s Sub-woofer is also wireless - so you get that booming bass your entertainment craves without any of those unsightly cables snaking across your plush living space.
                                </p>
                            </div> <!-- Copy -->

                        </div> <!-- Content -->

                    </div> <!-- Full Width -->

                </div> <!-- Slide -->

                <div class="arrows">   
                    <span class="btn left"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                    <span class="btn right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>     
                </div>
        
        </div> <!-- Carousel Container -->
        
    </div> <!-- Small Width -->
    
</div> <!-- S A Mod Section - How does it work?-->  