<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>

<link rel="stylesheet" href="CSS/style.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<!--<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<script src="JS/main.js"></script>
</head>

<body>

<div class="s-a-mod-section first-sec">    

    <div id="q-heading" data-level="hard">
        
        <h1 class="mod-title">DA Module Name</h1> <!-- Make sure this is empty when copying into Sitecore -->

    </div> <!-- Q Heading -->

</div> <!-- S A Mod Section - Q Heading -->    
    
<!-------------------------------------------------------------------->    
    
<div class="s-a-mod-section">  

    <div id="q-menu">
        
        <div class="mobile">
            
            <div class="inner">
            
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                
                <h1 class="mod-title">DA Module Name</h1> <!-- Make sure this is empty when copying into Sitecore -->
                
            </div>
                        
            <ul></ul>
                        
        </div>

        <ul class="desktop">
        </ul>
        
        <div></div>

    </div> <!-- Menu -->

</div> <!-- S A Mod Section - Q Menu -->

<!-------------------------------------------------------------------->
    
<div d="first" class="s-a-mod-section first">
    
    <img src="images/Desktop-Interactive-Element.gif" class="full-img" />
    
</div> <!-- Interactive Element -->    
    
<!-------------------------------------------------------------------->
    
<div class="s-a-mod-section menu-tab" data-menu="what-is-it" data-menu-title="What-is-it?"> 
    <!-- Data menu title - This is how the section is labelled in the menu tabs. Make sure to use "-" for spaces --> 

    <div class="full-width-section what-is-it l-6">
        
        <img src="images/Desktop-what-is-it-3.jpg" class="full-img bg">
        
        <div class="content white-text transparent-bg full-height">
        
            <h1 class="section-header">What is it?</h1>

            <div class="copy">
                <p><strong>A Panoramic Sound Experience That’s Second To None</strong></p>
                <p>The N650 is a cinematic soundbar designed to integrate perfectly with your TV through innovative Samsung audio solutions - Acoustic Beam technology, an optimised game mode and a dedicated centre channel.<br><br>
                Engineered by the Samsung Audio Lab and packing 5.1 channels with eight speakers, the N650 delivers an incredible panoramic sound experience that grips you no matter your on-screen entertainment.</p>
                                
            </div> <!-- Copy -->
            
        </div> <!-- Content -->
        
    </div> <!-- Full Width -->
    
</div> <!-- S A Mod Section - L5 - What is it?-->    

<!-------------------------------------------------------------------->
    
<div class="s-a-mod-section menu-tab how-does-it-work col-layout" data-menu="how-does-it-work" data-menu-title="How-does-it-work?">
    <!-- Data menu title - This is how the section is labelled in the menu tabs. Make sure to use "-" for spaces --> 
    
    <div class="full-width-section how-does-it-work l-12">
    
        <h1 class="section-header">How does it work?</h1>
        
          <div class="carousel-container">
        
                <div class="buttons">

                    <div class="dots"></div> <!-- Dots -->

                </div> <!-- Buttons -->

                <div class="slide active">
                    
                    <div class="full-width-section l-6">
        
                        <img src="images/Desktop-how-does-it-work-1.jpg" class="full-img bg">

                        <div class="content white-text transparent-bg full-height">
           
                            <div class="copy">
                                <p><strong>Acoustic Beam Technology</strong></p>
                                <p>The purpose of the Acoustic Beam is to work in sync with your on-screen content to create multi-directional soundwaves. Imagine a car moving from left to right - the Acoustic Beam will direct the sound to move across the screen with the car.<br><br>
                                The N650 features two Acoustic Beams, each featuring an array of 28 holes. Sound is pushed from the Acoustic Beam’s tweeter though these holes in different directions to create an incredible cinematic audio experience.</p>
                            </div> <!-- Copy -->

                        </div> <!-- Content -->

                    </div> <!-- Full Width -->

                </div> <!-- Slide -->

                <div class="slide">

                    <div class="full-width-section l-6">
        
                        <img src="images/Desktop-how-does-it-work-2.jpg" class="full-img bg">

                        <div class="content white-text transparent-bg full-height">
           
                            <div class="copy">
                                <p><strong>Panoramic Sound</strong></p>
                                <p>Boasting a 5.1 channel set-up, the N650 Soundbar fills every corner of your room with rich, panoramic sound. Left and right speakers deliver powerful, front-firing sound, while conversations are crystal-clear and audible through the centre speaker.<br><br> Two Acoustic Beams project surround sound in sync with your on-screen content - and a wireless sub-woofer ensures you feel the action with booming, accurate bass.</p>
                                
                                <div class="blocks">
                                
                                    <p class="number">5</p>
                                    
                                    <ul class="list">
                                        <li>2x Surround Speakers/Channels<br>(via Acoustic Beam)</li>
                                        <li>1x Left Speaker/Channels</li>
                                        <li>1x Centre Speaker/Channels</li>
                                        <li>1x Right Speaker/Channels</li>
                                    </ul>
                                
                                </div>
                                
                                <div class="blocks">
                                
                                    <p class="number">1</p>
                                    
                                    <ul class="list">
                                        <li>1x Sub-woofer Speaker/Channels</li>
                                        <li>&nbsp;</li>
                                        <li>&nbsp;</li>
                                        <li>&nbsp;</li>
                                    </ul>
                                
                                </div>
                                
                            </div> <!-- Copy -->

                        </div> <!-- Content -->

                    </div> <!-- Full Width -->

                </div> <!-- Slide -->

                <div class="slide">

                     <div class="full-width-section l-6">
        
                        <img src="images/Desktop-how-does-it-work-3.jpg" class="full-img bg">

                        <div class="content white-text transparent-bg full-height">
           
                            <div class="copy">
                                <p><strong>Dedicated Game Mode</strong></p>
                                <p>Through HDR gaming, you already have an awesome visual experience - why not give your ears a treat too? The N650 offers a dedicated game mode that automatically optimises sound for a richer, more immersive gaming experience.</p>
                            </div> <!-- Copy -->

                        </div> <!-- Content -->

                    </div> <!-- Full Width -->

                </div> <!-- Slide -->

                <div class="slide">

                     <div class="full-width-section l-6">
        
                        <img src="images/Desktop-how-does-it-work-4.jpg" class="full-img bg">

                        <div class="content white-text transparent-bg full-height">
           
                            <div class="copy">
                                <p><strong>Powerful Bass &amp; Wireless Sub-Woofer</strong></p>
                                <p>Cinematic sound demands that you don’t just hear the action, you should be able to feel it too.<br><br>
                                Imagine the starting grid at a race track. How cool would it be to actually feel those engines reverberating as they’re being revved up? What about that thunderous roar as the cars are let off the leash?<br><br>
                                Offering powerful, accurate bass, the N650’s Sub-woofer is also wireless - so you get that booming bass your entertainment craves without any of those unsightly cables snaking across your plush living space.
                                </p>
                            </div> <!-- Copy -->

                        </div> <!-- Content -->

                    </div> <!-- Full Width -->

                </div> <!-- Slide -->

                <div class="arrows">   
                    <span class="btn left"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                    <span class="btn right"><i class="fa fa-angle-right" aria-hidden="true"></i></span>     
                </div>
        
        </div> <!-- Carousel Container -->
        
    </div> <!-- Small Width -->
    
</div> <!-- S A Mod Section - How does it work?-->   
    
<!-------------------------------------------------------------------->
    
<div class="s-a-mod-section menu-tab excite-my-customer" data-menu="excite-my-customer" data-menu-title="How-will-this-excite-my-customer?"> 
    <!-- Data menu title - This is how the section is labelled in the menu tabs. Make sure to use "-" for spaces --> 
    
    <div class="full-width-section excite-my-customer l-3">
        
        <h1 class="section-header desktop-content">How will this excite my customer?</h1>      
        
        <div class="columns-wrapper training__moduleCol four-v3">
                     
            <div class="training__moduleCol--quarter">
                 
                <h2><span class="blue-text">ONLY SAMSUNG</span> delivers you the utimate cinematic experience - without leaving the sofa!</h2>
                <img src="images/Desktop-excite-1.png"/> <!-- First column desktop image -->
                    
            </div> <!-- Training Module col Quarter -->
            
            <div class="training__moduleCol--quarter">
                
                <h2><span class="blue-text">ONLY SAMSUNG</span> offers a truly seamless 4K experience</h2>
                <img src="images/Desktop-excite-2.png"/> <!-- Second column desktop image -->
                        
            </div> <!-- Training Module col Quarter -->
            
            <div class="training__moduleCol--quarter">                

                <h2><span class="blue-text">ONLY SAMSUNG</span> offers Acoustic Beam technology for stunning panoramic sound</h2>
                <img src="images/Desktop-excite-3.png"/> <!-- Third column desktop image -->    
                    
            </div> <!-- Training Module col Quarter -->
            
            <div class="training__moduleCol--quarter">
                
                <h2><span class="blue-text">ONLY SAMSUNG</span> was the most-awarded AV brand of 2017</h2>                                    
                <img src="images/Desktop-excite-4.png"/> <!-- Fourth column desktop image -->
                   
            </div> <!-- Training Module col Quarter -->         
            
        </div>
        
    </div> <!-- Full Width -->
    
</div> <!-- S A Mod Section - Excite my customer ->      
    
<!-------------------------------------------------------------------->
    
<div class="s-a-mod-section menu-tab what-else" data-menu="what-else" data-menu-title="What-Else-do-I-need-to-know?">
    <!-- Data menu title - This is how the section is labelled in the menu tabs. Make sure to use "-" for spaces -->
    
    <div class="full-width-section what-else l-4">
    
        <h1 class="section-header">What else do I need to know?</h1> <!-- Section header -->

            <div class="columns-wrapper training__moduleCol">

                <div class="training__moduleCol--third column drop-downs">

                        <div class="header">

                            <h2>DEDICATED CENTRE-CHANNEL KEEPS <br> DIALOGUE CRYSTAL-CLEAR</h2> <!-- First column header -->
                            <i class="fa fa-angle-down" aria-hidden="true"></i>

                        </div> <!-- Heading -->

                        <img src="images/Desktop-what-else-1.png" /> <!-- First column desktop image -->

                        <div class="copy">

                            <img src="images/Desktop-what-else-1.png" /> <!-- First column desktop image -->

                            <h2>DEDICATED CENTRE-CHANNEL KEEPS <br> DIALOGUE CRYSTAL-CLEAR</h2> <!-- First column header - Mobile -->
                            <p>Because not everything we watch is full of loud explosions, car chases and the roar of the crowd as they celebrate a last-minute winner, the N650 features a dedicated center channel that keeps those softer conversations crystal clear and audible. Perfect if you don’t want to be straining your ears or straining for the remote.</p> 
                        </div> <!-- First column copy -->

                </div> <!-- Training Module col Third -->

                <div class="training__moduleCol--third column drop-downs">

                        <div class="header">

                            <h2>EFFORTLESS CONNECTIVITY AND A <br> CLUTTER-FREE LIVING SPACE</h2> <!-- Second column header -->
                            <i class="fa fa-angle-down" aria-hidden="true"></i>

                        </div> <!-- Heading -->

                        <img src="images/Desktop-what-else-2.png" /> <!-- Second column desktop image -->

                        <div class="copy">

                            <img src="images/Desktop-what-else-2.png" /> <!-- Second column desktop image -->

                            <h2>EFFORTLESS CONNECTIVITY AND A <br> CLUTTER-FREE LIVING SPACE</h2> <!-- Second column header Mobile -->
                            <p>Featuring Bluetooth connectivity, the days of ugly cables trailing between your TV and soundbar are now long gone. And even if you aren’t ready to embrace the joys of wireless connectivity, Samsung’s cable management system ingeniously hides away the HDMI slot to reduce that unsightly tangle of connections around your TV.</p>

                        </div> <!-- Second column copy -->

                </div> <!-- Training Module col Third -->

                <div class="training__moduleCol--third column drop-downs">

                        <div class="header">

                            <h2>ONE REMOTE FOR SOUNDBAR AND TV</h2> <!-- Third column header -->
                            <i class="fa fa-angle-down" aria-hidden="true"></i>

                        </div> <!-- Heading -->

                        <img src="images/Desktop-what-else-3.png" /> <!-- Third column desktop image -->

                        <div class="copy">

                            <img src="images/Desktop-what-else-3.png" /> <!-- Third column desktop image -->

                            <h2>ONE REMOTE FOR SOUNDBAR AND TV</h2> <!-- Third column header Mobile -->
                            <p>In the past, buying a soundbar certainly elevated the audio quality of your TV - but it also meant adding to that pile of remotes cluttering up your coffee table. Not any more. Samsung’s One Remote* controls every compatible device you own - your Samsung TV, Blu-ray player, set-top box, and yes, even your new N650 Cinematic Soundbar.</p>
                            <p class="caveat">* Sold with any 2017/2018 Samsung QLED TV.</p>
                        </div> <!-- Third column copy -->

                </div> <!-- Training Module col Third -->


            </div> <!-- Training Module Column -->
        
    </div> <!-- Small Width -->
    
</div> <!-- S A Mod Section - What Else -->
    
<!-------------------------------------------------------------------->
    
</body>
</html>