<div class="s-a-mod-section menu-tab what-else" data-menu="what-else" data-menu-title="What-else-do-I-need-to-know?">
    <!-- Data menu title - This is how the section is labelled in the menu tabs. Make sure to use "-" for spaces -->
    
    <div class="full-width-section what-else l-4">
    
        <h1 class="section-header">What else do I need to know?</h1> <!-- Section header -->

        <div class="columns-wrapper training__moduleCol">

                <div class="training__moduleCol--third column drop-downs">

                        <div class="header">

                            <h2>DEDICATED CENTRE-CHANNEL KEEPS <br> DIALOGUE CRYSTAL-CLEAR</h2> <!-- First column header -->
                            <i class="fa fa-angle-down" aria-hidden="true"></i>

                        </div> <!-- Heading -->

                        <img src="-/media/4C7B047AB1E74DFE89CE4AE08E0A633E.ashx" /> <!-- First column desktop image -->

                        <div class="copy">

                            <img src="-/media/4C7B047AB1E74DFE89CE4AE08E0A633E.ashx" /> <!-- First column desktop image -->

                            <h2>DEDICATED CENTRE-CHANNEL KEEPS <br> DIALOGUE CRYSTAL-CLEAR</h2> <!-- First column header - Mobile -->
                            <p>Because not everything we watch is full of loud explosions, car chases and the roar of the crowd as they celebrate a last-minute winner, the N650 features a dedicated center channel that keeps those softer conversations crystal clear and audible. Perfect if you don’t want to be straining your ears or straining for the remote.</p> 
                        </div> <!-- First column copy -->

                </div> <!-- Training Module col Third -->

                <div class="training__moduleCol--third column drop-downs">

                        <div class="header">

                            <h2>EFFORTLESS CONNECTIVITY AND A <br> CLUTTER-FREE LIVING SPACE</h2> <!-- Second column header -->
                            <i class="fa fa-angle-down" aria-hidden="true"></i>

                        </div> <!-- Heading -->

                        <img src="-/media/14EB9F642D9D46089E3B30E7E0902158.ashx" /> <!-- Second column desktop image -->

                        <div class="copy">

                            <img src="-/media/14EB9F642D9D46089E3B30E7E0902158.ashx" /> <!-- Second column desktop image -->

                            <h2>EFFORTLESS CONNECTIVITY AND A <br> CLUTTER-FREE LIVING SPACE</h2> <!-- Second column header Mobile -->
                            <p>Featuring Bluetooth connectivity, the days of ugly cables trailing between your TV and soundbar are now long gone. And even if you aren’t ready to embrace the joys of wireless connectivity, Samsung’s cable management system ingeniously hides away the HDMI slot to reduce that unsightly tangle of connections around your TV.</p>

                        </div> <!-- Second column copy -->

                </div> <!-- Training Module col Third -->

                <div class="training__moduleCol--third column drop-downs">

                        <div class="header">

                            <h2>ONE REMOTE FOR SOUNDBAR AND TV</h2> <!-- Third column header -->
                            <i class="fa fa-angle-down" aria-hidden="true"></i>

                        </div> <!-- Heading -->

                        <img src="-/media/CDE9E8A7685A44EE933FF27698B4BB00.ashx" /> <!-- Third column desktop image -->

                        <div class="copy">

                            <img src="-/media/CDE9E8A7685A44EE933FF27698B4BB00.ashx" /> <!-- Third column desktop image -->

                            <h2>ONE REMOTE FOR SOUNDBAR AND TV</h2> <!-- Third column header Mobile -->
                            <p>In the past, buying a soundbar certainly elevated the audio quality of your TV - but it also meant adding to that pile of remotes cluttering up your coffee table. Not any more. Samsung’s One Remote* controls every compatible device you own - your Samsung TV, Blu-ray player, set-top box, and yes, even your new N650 Cinematic Soundbar.</p>
                            <p class="caveat">* Sold with any 2017/2018 Samsung QLED TV.</p>
                        </div> <!-- Third column copy -->

                </div> <!-- Training Module col Third -->


            </div> <!-- Training Module Column -->
        
    </div> <!-- Small Width -->
    
</div> <!-- S A Mod Section - Three Columns -->