<div class="s-a-mod-section menu-tab" data-menu="what-is-it" data-menu-title="What-is-it?"> 
    <!-- Data menu title - This is how the section is labelled in the menu tabs. Make sure to use "-" for spaces --> 

    <div class="full-width-section what-is-it l-6">
        
        <img src="-/media/CFE948CAEA7B44218EEE48E0C96FA1D3.ashx" class="full-img bg">
        
        <div class="content white-text transparent-bg full-height">
        
            <h1 class="section-header">What is it?</h1>

            <div class="copy">
                <p><strong>A Panoramic Sound Experience That’s Second To None</strong></p>
                <p>The N650 is a cinematic soundbar designed to integrate perfectly with your TV through innovative Samsung audio solutions - Acoustic Beam technology, an optimised game mode and a dedicated centre channel.<br><br>
                Engineered by the Samsung Audio Lab and packing 5.1 channels with eight speakers, the N650 delivers an incredible panoramic sound experience that grips you no matter your on-screen entertainment.</p>                            
            </div> <!-- Copy -->
            
        </div> <!-- Content -->
        
    </div> <!-- Full Width -->
    
</div> <!-- S A Mod Section - L5 - What is it?-->